<html><head></head><body><div class="col-12 d-flex justify-content-end">
  <form action="" class="col-8 d-flex gap-2 justify-content-end">
    <div>
      <label for="keyword">Từ khóa</label>
      <input class="form-control" id="keyword" type="text" placeholder="Họ tên" value="{{ keyword }}" name="keyword" style="height: 35.35px;">
    </div>
    <div>
      <label for="select-dpm">Phòng ban</label><br>
      <select id="select-dpm" name="dpm" class="form-select" style="cursor: pointer;">
        <option>Tất cả</option>
        {% for dpm in dpms %}
        <option {% if dpm.name == dpm_req %}selected{% endif %}>{{ dpm.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="select-month">Tháng</label><br>
      <select id="select-month" name="month" class="form-select" style="cursor: pointer;">
        {% for month in list_month %}
        <option {% if month == month_req %}selected{% endif %} value="{{ month }}">Tháng {{ month }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="select-year">Năm</label><br>
      <select id="select-year" name="year" class="form-select" style="cursor: pointer;">
        {% for year in list_year %}
        <option {% if year == year_req %}selected{% endif %} value="{{ year }}">Năm {{ year }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-info bg-filter mt-4">Lọc</button>
  </form>
</div></body></html>