{% load static %}
<div class="bg-green font-poppins">
  <div class="container pt-4 pb-4">
    <div class="row justify-content-center">
      <!-- Logo + mô tả -->
      <div class="col-md-4 d-flex justify-content-center">
        <div class="text-center">
          <img src="{% static 'images/logo2.png' %}" alt="Logo" height="50px">
          <div class="text-white mt-2" style="font-size: 15px; font-weight: 600; line-height: 1.6; text-align: justify; max-width: 300px;">
            LALIN – Nốt son trong chặng hành trình<br>
            truyền cảm hứng về nét đẹp thời trang Á <br>
            Đông giao thoa với thẩm mỹ đương đại
          </div>
        </div>
      </div>

      <!-- Liên hệ -->
      <div class="col-md-4 d-flex justify-content-center">
        <div style="text-align: left; max-width: 300px;">
          <div class="text-white mb-2" style="font-size: 20px; font-weight: 700;">LIÊN HỆ</div>
          <div class="text-white" style="font-size: 14px;">
            <div class="mb-2">Hotline: 096 273 13 33</div>
            <div class="mb-2">
              Website: <a href="https://lalin.vn" target="_blank" style="color: white; text-decoration: underline;">lalin.vn</a>
            </div>
            <div class="mb-2">Địa chỉ: 103C2 Phạm Ngọc Thạch, Hà Nội, Vietnam</div>
          </div>
        </div>
      </div>

      <!-- Theo dõi -->
      <div class="col-md-4 d-flex justify-content-center">
        <div style="text-align: left; max-width: 300px;">
          <div class="text-white mb-2" style="font-size: 20px; font-weight: 700;">THEO DÕI LALIN TẠI ĐÂY</div>
          <div class="text-white d-flex gap-4" style="font-size: 25px; font-weight: 600;">
            <a href="https://www.facebook.com/Lalin.vn.brand" target="_blank" style="color: white;">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/lalin.vn" target="_blank" style="color: white;">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://lalin.vn" target="_blank" style="color: white;">
              <i class="fa-solid fa-globe"></i>
            </a>
            <a href="https://www.tiktok.com/@lalin.vn" target="_blank" style="color: white;">
              <i class="fa-brands fa-tiktok"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
