{% extends '../layouts/base.html' %}

{% block main %}
<br>
<br><br><br><br>
{% if request.user.sheet_set.last.date != date %}
<h1 class="mb-3" style="text-align: center; font-weight: 400;">
    Chào
    <em style="color: #007d0c;">
        {{ request.user.first_name }} {{ request.user.last_name }}
    </em>
    , chúc bạn ngày mới tốt lành!
</h1>
<div style="text-align: center; font-weight: 800;"> Check-in ngay để bắt đầu làm việc nhé</div>
<br>
<center>
    <button btn-check class="btn btn-info bg-btn pe-5 ps-5 text-light" type="button" value="in" style="font-weight: 900;font-size: 22px">
        Check-in
    </button>
</center>
{% endif %}

{% if request.user.sheet_set.last.date == date and not request.user.sheet_set.last.checkout %}
<h1 style="text-align: center; font-weight: 400;">
    Cảm ơn sự cống hiến của
    <em style="text-transform: uppercase; color: #007d0c;">
        {{ request.user.first_name }} {{ request.user.last_name }}
    </em>
    ngày hôm nay
</h1>
<div style="text-align: center; font-weight: 700;font-size: 20px">Check-out để kết thúc ngày làm việc nhé</div>
<br>
<center>
    <button btn-check class="btn btn-info bg-btn pe-5 ps-5 text-light" type="button" value="out" style="font-weight: 600;">CHECK-OUT</button>
</center>
{% endif %}

{% if request.user.sheet_set.last.date == date and request.user.sheet_set.last.checkout %}
<h1 style="text-align: center; font-weight: 400;">
    Cảm ơn sự cống hiến của
    <em style="text-transform: uppercase; color: #007d0c;">
        {{ request.user.first_name }} {{ request.user.last_name }}
    </em>
    ngày hôm nay
</h1>
<div style="text-align: center; font-weight: 700;font-size: 20px; color: #847d7e">Thời gian làm việc hôm nay đã kết thúc, chúc bạn một buổi nghỉ thật thoải mái!</div>
{% endif %}
<div class="clock mt-1" style="text-align: center; font-weight: 700;font-size: 40px; color:#ff3131">00:00:00</div>

<form method="POST">
    {% csrf_token %}
    <input hidden name="check" value="">
</form>

{% load static %}
<script src="{% static 'scripts/time_keeping.js' %}"></script>



{% endblock %}